<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Local Spaces</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
    <template id="space-block">
        <div class="column is-one-quarter">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img id="space-logo" src="https://bulma.io/images/placeholders/1280x960.png">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <p><b id="space-name"><a href=""></a></b></p>
                        <p id="space-status"></p>
                        <p>Distance: <b id="space-distance"></b> miles</p>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <section class="section">
        <div class="container content">
            <div class="columns is-centered is-multiline" id="spaces"></div>
        </div>
    </section>
    <script>
        $(document).ready(function () {
            $.getJSON('/local_spaces.json', function (data) {
                const spaces = Array.from(data).sort((a, b) => a['data']['distance'] - b['data']['distance']);
                spaces.forEach(function (val, indx) {
                    var obj = $($("template#space-block").html());
                    obj.find('#space-name a').html(val['data']['space']);
                    obj.find('#space-name a').attr('href', val['data']['url']);
                    obj.find('#space-distance').html(Math.round(val['distance'] * 100) / 100);

                    let status = 'Closed';
                    if (val['data']['state']['open']) {
                        status = 'Open';
                    }
                    obj.find('#space-status').html(status);

                    obj.find('#space-logo').attr('src', val['data']['logo']);
                    obj.fin
                    $('div#spaces').append(obj);
                });
            });
        });
    </script>
</body>

</html>